
.hero-wrapper {
display: flex;
/* margin-top: 10px; */
flex-direction: column;
align-items: center;
position: relative;
width: 100%;
}

.hero {
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%; 
}

.image-wrapper img {
    width: 100%;
    height: 100%;
    /* height: 50vh; */
    object-fit: cover;
    border-radius: 20px;
}

.image-wrapper {
    position: relative;
    width: 100%;
    height: 650px;
} 

 .image-wrapper::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background-color: #00000070;
    width: 100%;
    height: 100%;
    border-radius: 20px;
}


.image-overlay {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--body_background_2);
    color: var(--body_color);
    padding: 20px;
    text-align: center;
    border-radius: 20px;
    z-index: 1;
  }

.image-overlay P {
    color: #fff;
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 10px;
    /* padding: 0 30px; */
    /* width: 80%; */
    font-family: 'lobster', sans-serif;
    z-index: 1;
}

.image-overlay button {
    background-color: var(--body_background);
    color: var(--body_color);
    border: none;
    padding: 10px 30px;
    /* margin-top: 20px; */
    border-radius: 5px;
    font-size: 18px;
    font-weight: 600;
    z-index: 1;
    cursor: pointer;
    flex-wrap: wrap;
}


.social-icons {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 40px;
}

.social-icons a {
    color: var(--primary_color);
    margin: 0 8px;
    font-size: 20px;
}

.social-icons a:hover {
    color: #ccc;
  }

.hero-content {
    display: none;
}

@media screen and (min-width: 768px) {
    .hero-wrapper{
        /* margin-top: 70px; */
    }

    .hero {
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: center;
        background: linear-gradient(90deg, var(--body_background) 100%, var(--body_color) 100%);
        border-bottom: 1px solid #fff;
        border-bottom-left-radius: 40px;
        box-shadow: 0 0 10px var(--primary_color);
    }
    
    .hero-content {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        width: 50%;
        padding: 15px;
        margin: auto;
        color: var(--body_color);
    }

    .hero-content p {
        font-size: 16px;
        text-align: center;
        font-weight: 500;
        margin-bottom: 10px;
        padding: 10px 0; 
        /* width: 70%; */
    }

    .hero-content button {
        background: transparent;
        color: var(--body_color);
        border: none;
        margin-top: 20px;
        font-size: 20px;
        font-weight: 600;
        cursor: pointer;
    }

    

    .image-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        background: var(--body_background);
        border: 1px solid var(--body_color);
        border-radius: 20px;
        width: 100%;
        height: 650px;
        margin: 10px auto 40px auto;
        box-shadow: 0px 2px 1px var(--body_color);
    }

    .image-wrapper img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .image-overlay p {
        font-size: 18px;
        text-align: center;
    }

    .social-icons {
        flex-direction: row;
    }
}

@media screen and (min-width: 1024px) {
   .image-wrapper {
    width: 100%;
    height: 100%;
    margin: 10px auto 40px auto;
   }
}

