.hero-wrapper {
display: flex;
flex-direction: column;
position: relative;
    
}
.hero {
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%; 
}

.image-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.image-wrapper {
    position: relative;
}

/* .image-wrapper::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background-color: #00000080;
    width: 100%;
    height: 100%;
} */

.image-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--body_background_2);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.image-overlay P {
    color: #fff;
    text-align: justify;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 10px;
    padding: 0 30px;
    width: 80%;
    font-family: 'lobster', sans-serif
}

.image-overlay button {
    background-color: var(--body_background);
    color: var(--body_color);
    border: none;
    padding: 10px 25px;
    margin-top: 20px;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
}

.hero-content {
    display: none;
}

@media screen and (min-width: 768px) {
    .hero {
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: center;
        background: linear-gradient(90deg, var(--body_background) 100%, var(--body_color) 100%);
        border-bottom: 1px solid #fff;
        border-bottom-left-radius: 40px;
        box-shadow: 0 0 10px var(--primary_color);
    }
    
    .hero-content {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        width: 50%;
        padding: 15px;
        margin: auto;
        color: var(--body_color);
    }

    .hero-content p {
        font-size: 16px;
        text-align: justify;
        font-weight: 500;
        margin-bottom: 10px;
        padding: 10px 0; 
        width: 70%;
    }

    .hero-content button {
        background: transparent;
        color: var(--body_color);
        border: none;
        margin-top: 20px;
        font-size: 20px;
        font-weight: 600;
        cursor: pointer;
    }

    .social-icons {
        display: flex;
        margin-left: 5px;
        gap: 20px;
        width: 80%;
        margin-top: 10px;
    }

    .social-icons a {
        color:var(--body_color);
        font-size: 20px;
    }

    .image-wrapper {
        background: var(--body_background);
        border: 1px solid var(--body_color);
        border-radius: 50%;
        right: 7%;
        bottom: 15%;
        width: 400px;
        height: 400px;
        margin: 10px auto 40px auto;
        box-shadow: 4px 3px 3px var(--body_color);
    }

    .image-wrapper img {
        width: 400px;
        height: 400px;
        object-fit: cover;
        border-radius: 50%;
    }

    .image-overlay {
       border-radius: 50%;
       width: 400px;
       height: 400px;
    }
/* 
    .image-overlay p {
        font-size: 18px;
        text-align: center;
    } */


}

