.volunteer-container p {
    display: flex;
    font-size: 2rem;
    font-style: italic;
    font-weight: 900;
    justify-content: center;
    align-items: center;
    /* width: 80%; */
    text-align: center;
    margin: 120px auto;
    padding: 20px;
    color: var(--primary_color);
}