
nav {
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: fixed;
    height: 100vh;
    width: 50%;
    top: -100%;
    left: 0;
    background-color: var(--body_background);
    color: var(--primary_color);
    cursor: pointer;
    font-weight: 500;
    /* gap: 30px; */
    align-items: center;
    z-index: 5;
}

.top-nav-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* border-bottom: 1px solid var(--body_color); */
    width: 100%;
    padding: 20px 0;
    align-items: center;

}

nav.nav-active{
    top: 0;
    transition: 0.5s;
}

.login-dark-mode {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.hamburger {
    display: block;
    font-size: 25px;
    cursor: pointer;
    color: var(--primary_color);
    padding: 10px;
    position: absolute;
    top: 3px;
    left:10px;
    z-index: 6;
  }

.navbar-logo img {
    width: 50px;
    height: 40px;
    /* margin-bottom: 20px; */
}

.navbar-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    font-size: 18px;
    gap: 50px;
}

.navbar-links hr {
    width: 40px;
    margin: auto;
    height:3px;
    background-color: var(--body_color);
    border: none;
    border-radius: 10px;
    color: var(--body_color);
}

.navbar-links li a {
    color: var(--primary_color);
    text-decoration: none;
}

.navbar-links li a:hover {
    color: var(--body_color);
    background-color: var(--body_background);
    border-radius: 10px;
    padding: 5px 10px;
}


.login-btn button {
    background-color: transparent;
    border: none;
    border-radius: 15px;
    padding: 5px 15px;
    font-size: 20px;
    cursor: pointer;
    color: var(--body_color);
    margin-top: 20px;
}

@media screen and (min-width: 768px) {
    nav {
        padding: 0 50px;
        height: 40px;
        width: 100%;
        top: 0;
    }

    .top-nav-wrapper {
        flex-direction: row; 
        border-bottom: 1px solid var(--body_color);
        width: 100vw;
        height: 20vh;
        padding: 1px 10px;
        margin: 0;
    }

    

    .login-dark-mode {
        flex-direction: row;
        gap: 32px;
        margin-top: 3rem;
    }

    .hamburger {
        display: none;
        /* z-index: 0; */
    }

    .navbar-logo img {
        /* margin: 45px 0 0 0; */
        margin-top: 3rem;
        
    }

    .navbar-links {
        flex-direction: row;
        font-size: 20px;
        font-weight: 700;
        gap: 35px;
        z-index: 8;
    }

    .login-btn button {
        margin-top: 0;
    }
}

 

