/* .news-header h1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 4rem;
  font-size: 2rem;
  max-width: 60%;
  color: #fff;
  position: relative;
}

.news-header h1::before {
  content: "";
  display: block;
  position: absolute;
  width: 140px;
  left: 0;
  top: 50%;
  height: 3px;
  background: #fff;
  margin-bottom: 1rem;

} */

.news-header-img {
  display: none;
}

.news-header h1 {
  color: #fff;
  font-size: 2rem;
  font-weight: 500;
}


.carousel {
  height: 300px; 
  width: 80%;   
  margin: auto; 
  position: relative;
}

.carousel-item {
  text-align: center; 
  height: 300px;
  border-radius: 40px;
}

.carousel-caption {
  background: #00000070;
  font-size: 14px;
  padding: 10px;
}

.carousel-caption h3 {
  font-size: 1.2rem;
  font-weight: 600;
  color: #489EDE;
}


.carousel-caption h3,
.carousel-caption p,
.carousel-caption a {
  color: #fff; 
}

.carousel-caption a {
  text-decoration: underline; 
}

.carousel img {
  object-fit: cover; 
  position: absolute;
  top: 0;
  left: 0;
  min-height: 300px;
  border-radius: 40px;
}

.carousel-caption button {
  background: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  margin-top: 10px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.carousel-caption button:hover {
  background: #000;
  color: #fff;
}

.news-page {
  display: flex;
  flex-direction: column;
  /* justify-content: center;
  align-items: center; */
  margin-top: 3rem;
  color: #fff;
}

.news-content {
  padding: 5px 15px;
}

.news-content h3 {
  font-size: 1.5rem;
  font-weight: 600;
  color: #489EDE;
  padding-bottom: 10px;
}

 p {
  font-size: 1rem;
  font-weight: 400;
  text-align: justify;
}

.news-content h5 {
  font-size: 1rem;
  font-weight: 400;
  text-align: right;
  padding-top: -20px;
  color: #489EDE;
}

.news-image {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  padding-left: 3rem;
  margin-top: 20px;
  gap: 25px;
}

/* ------------ Style News Page----------------- */

.news-wrapper {
  flex-direction: column;
  display: flex;
  justify-content: center;
  gap: 30px;
  color: #fff;
}

.slider {
  display: inline-block;
  width: 70%;
  max-height: 350px !important;
  padding-left: 20px;
  margin:20px auto;

}

.item-img {
  width: 40%;
  height: 300px;

}


@media screen and (min-width: 768px) {
  .carousel {
    width: 90%;
  }

  .carousel-caption {
    opacity: 0;
    height: 100%;
    width: 100%; 
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: opacity 0.3s ease; 
  }
  
  .carousel-caption:hover {
    opacity: 1; 
    background-color: rgb(0,0,0,0.5);
  }
  
  .news-header {
    margin-top: 13rem;
    display: flex;
    color: #fff;
    text-align: center;
    gap: 2rem;
    width: 50%;
  }

  .news-header h1 {
    font-size: 2rem;
    max-width: 80%;
    position: relative;
  }

  .news-header-img {
    display: block;
  }
  
  .news-header-img img {
    width: 100%;
    max-height: 30%;
    margin-top: 28px;
  }  

  .news-page {
    margin-top: 5rem;
  }
  
  .news-content {
    padding: 5px 3rem;
    margin: auto ;
  }

  .news-wrapper {
    margin-top: 5rem;
    flex-direction: row-reverse;
  }

  .slider {
    padding-right: 40px;
    width: 40%;
  }

  .item-img {
    width: 40%;
    max-height: 90%;
  }

  /* ----------- ADD FORM -------------- */
  .add-form-container {
    margin-top: 5rem;
    color: #fff;
  }
}

@media screen and (min-width: 1024px) {
  .carousel {
    width: 80%;
  }
  
  .news-header {
    margin-top: 12rem;
    display: flex;
    color: #fff;
    text-align: center;
    gap: 2rem;
    width: 50%;
  }

  .news-header h1 {
    font-size: 2rem;
    max-width: 80%;
    position: relative;
  }

  .news-header-img {
    display: block;
  }

  .news-header-img img {
    width: 100%;
    max-height: 30%;
  }
  
}