* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  transition: all 0.3s ease-in-out;
}

:root {
  --body_background: #060606;
  --body_background_2: #00000065;
  --body_color: #fff;
  --primary_color: #489EDE;
}

[data-theme="light"] {
  --body_background: #fdfdfd;
  --body_background_2: #00000065;
  --body_color: #000;
  --primary_color: #489EDE;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'roboto', sans-serif;
  background: var(--body_background);
  overflow-y: scroll;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
